<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search 
      ng-search 
      search-input="ctrl.searchInput" 
      search-by-enter-key-press="ctrl.searchByEnterKeyPress" 
      search="ctrl.search"
      result="ctrl.searchResults"
      videos="ctrl.videos"
      current-video="ctrl.currentVideo"
      ><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player ng-video-player  video="ctrl.currentVideo">Please Wait...</video-player>
    </div>
    <div class="col-md-5">
      <video-list videos="ctrl.videos" on-click="ctrl.selectVideo" current-video="ctrl.currentVideo"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
